.page-container {
  position: absolute;
  top: 55%;
  left: 80px; /* adjust distance from the left */
  transform: translateY(-50%); /* vertical center */

  max-width: 800px;
  padding: 60px 20px;
  background-color: transparent;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  color: #4CAF50;
}


.page-title {
  font-size: 30px;
  color: #5da75f;
  margin-bottom: 20px;
}

.page-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
    max-width: 450px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.contact-list li {
  margin-bottom: 10px;
  font-size: 17px;
}
